@import 'src/vars';

.burger-ingredients {
  max-width: 600px;

  &_ingredients-wrapper {
    height: calc(100vh - 284px);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }


  &_card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    padding: 24px 16px 0 16px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 268px;

  &_img {
    width: 240px;
    height: 120px;
  }

  &_description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_price-wrapper {
    display: flex;
    justify-content: center;
    gap: 9px;
  }

  &_quantity {
    position: absolute;
    top: 0;
    right: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $interface-blue;
  }
}
