@import 'src/vars';

.header {
  background-color: $modal-bg;
  box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);

  &_navigation {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;

    &-wrapper {
      display: flex;
    }
  }

  &_item {
    display: flex;
    align-items: center;

    &-logo {
      position: relative;
      right: 6%;
      margin: 0 auto;
    }
  }

}
